*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.nav-links{
    display: flex;
    list-styles: none;
}

.nav-links li{
    padding:0 1rem;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    tranition: all 0.3s ease;
}